.details-panel {
    -fx-background-color: #2b2b2b;
    -fx-padding: 10;
}

.details-heading {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.field-name {
    -fx-text-fill: #3a7bd5;
    -fx-font-weight: bold;
}

.field-value {
    -fx-text-fill: white;
}

.note-box {
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 2;
    -fx-padding: 7 10 7 10;
    -fx-text-fill: white;
    -fx-font-family: "Consolas", "Courier New", monospace;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
